body{
    text-align: center;
}
table{
    background-color: deepskyblue;
    margin: 1px 0px 1px 0px;
    padding: 1px;
    width: 95%;
}
table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
    width: 125px;
    height: 125px;
    font-size: xx-large;
    text-align: center;
    padding: 7px;
}
.cross{
    color: white;
}
ul{
    display: inline-block;
    text-align: start;
    list-style: "\271e";
    list-style-position: inside;
    padding: 1px;
}
li{
    font-size: x-large;
}
@media print{
    table{ page-break-before: always; }
    ul{ page-break-after: always; }
}
